In [ ]:
# %pip install pymysql

import os
import json
import pandas as pd
import pymysql as mysql

In [ ]:
# aggre_transactions.py
# here we are reading all the data from the insurance directory 

path1 =  'D:/Guvi Projects/Phonepay/pulse/data/aggregated/transaction/country/india/state/'
agg_trans_list = os.listdir(path1) # list all the files in the directory [this part will use the above string as path]

columns1 = {'States':[],'Years':[],'Quarter':[],'Transaction_type':[],'Transaction_count':[],'Transaction_amount':[]}


for state in agg_trans_list:
    curr_states = path1 + state + '/'
    aggre_years_list = os.listdir(curr_states) # list all the files from the each state directory [2018, 2019, 2020, 2021,...]

    for year in aggre_years_list:
        curr_year = curr_states + year + '/'
        aggre_files_list = os.listdir(curr_year)  # list all the json files from the each year directory [01.json, 02.json, 03.json,...] 

        for file in aggre_files_list:
            curr_file = curr_year + file
            data = open(curr_file,'r') # open the each json file in read mode

            A=json.load(data) # load the json file to read the data
            
            for i in A['data']['transactionData']:
                # as the details in the transaction are in list so we must use the index to access the data
                name=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                columns1['Transaction_type'].append(name)
                columns1['Transaction_count'].append(count)
                columns1['Transaction_amount'].append(amount)
                columns1['States'].append(state)
                columns1['Years'].append(year)
                columns1['Quarter'].append(int(file.strip('.json'))) # to remove the .json from the file name and convert it into integer which is the quarter number

In [ ]:
aggre_transaction = pd.DataFrame(columns1)
aggre_transaction

In [ ]:
# agrre_user.py
# here we are reading all the data from the user directory


path2 = 'D:/Guvi Projects/Phonepay/pulse/data/aggregated/user/country/india/state/'
agg_user_list = os.listdir(path2)

columns2={'States':[],'Years':[],'Quarter':[],'Brands':[],'Transaction_count':[],'Percentage':[]}

for state in agg_user_list:
    curr_states = path2 + state + '/'
    agg_years_list = os.listdir(curr_states)

    for year in agg_years_list:
        curr_year = curr_states + year + '/'
        aggre_files_list = os.listdir(curr_year)

        for file in aggre_files_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')
            
            B=json.load(data)
            try:
                for i in B['data']['usersByDevice']:
                    brand=i['brand']
                    count=i['count']
                    percentage=i['percentage']
                    columns2['Brands'].append(brand)
                    columns2['Transaction_count'].append(count)
                    columns2['Percentage'].append(percentage)
                    columns2['States'].append(state)
                    columns2['Years'].append(year)
                    columns2['Quarter'].append(int(file.strip('.json')))
            except:
                pass

In [ ]:
aggre_user = pd.DataFrame(columns2)

In [ ]:
# aggre_insurance
# here we are reading all the data from the insurance directory

path3 = 'D:/Guvi Projects/Phonepay/pulse/data/aggregated/insurance/country/india/state/' 
agg_insurance_list = os.listdir(path3) 

columns3 = {'States':[],'Years':[],'Quarter':[],'Name':[],'Insurance_count':[],'TotalIns_amount':[]}

for state in agg_insurance_list:
    curr_states = path3 + state + '/'
    aggre_years_list = os.listdir(curr_states)

    for year in aggre_years_list:
        curr_year = curr_states + year + '/'
        aggre_files_list = os.listdir(curr_year)

        for file in aggre_files_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')

            C=json.load(data)

            for i in C['data']['transactionData']:
                name=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                columns3['Name'].append(name)
                columns3['Insurance_count'].append(count)
                columns3['TotalIns_amount'].append(amount)
                columns3['States'].append(state)
                columns3['Years'].append(year)
                columns3['Quarter'].append(int(file.strip('.json')))

In [ ]:
aggre_insurance = pd.DataFrame(columns3)
aggre_insurance

aggre_insurance['States'].value_counts()

In [ ]:
# map_transaction.py
# here we are reading all the data from the map_transaction directory

path4 = 'D:/Guvi Projects/Phonepay/pulse/data/map/transaction/hover/country/india/state/'
map_insurance_list = os.listdir(path4)

columns4 = {'States':[],'Years':[],'Quarter':[],'Districts':[],'Transaction_count':[],'Transaction_amount':[]}

for state in map_insurance_list:
    curr_states = path4 + state + '/'
    map_years_list = os.listdir(curr_states)

    for year in map_years_list:
        curr_year = curr_states + year + '/'
        map_files_list = os.listdir(curr_year)

        for file in map_files_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')

            D=json.load(data)
            # when we try to read metrics data it appear as list so we have to use index[0] to access the data
            
            for i in D['data']['hoverDataList']:
                name=i['name']
                count=i['metric'][0]['count']
                amount=i['metric'][0]['amount']
                columns4['Districts'].append(name)
                columns4['Transaction_count'].append(count)
                columns4['Transaction_amount'].append(amount)
                columns4['States'].append(state)
                columns4['Years'].append(year)
                columns4['Quarter'].append(int(file.strip('.json')))

In [ ]:
map_transaction = pd.DataFrame(columns4)
map_transaction

In [10]:
# map_user.py
# here we are reading all the data from the map_user directory

path5 = 'D:/Guvi Projects/Phonepay/pulse/data/map/user/hover/country/india/state/'
map_user_list = os.listdir(path5)

columns5 = {'States':[],'Years':[],'Quarter':[],'Districts':[],'RegisteredUsers':[],'AppOpens':[]}

for state in map_user_list:
    curr_states = path5 + state + '/'
    map_years_list = os.listdir(curr_states)

    for year in map_years_list:
        curr_year = curr_states + year + '/'
        map_files_list = os.listdir(curr_year)

        for file in map_files_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')

            E = json.load(data)

            for i in E['data']['hoverData'].items():
                district=i[0]
                registeredUsers=i[1]['registeredUsers']
                appOpens=i[1]['appOpens']
                columns5['Districts'].append(district)
                columns5['RegisteredUsers'].append(registeredUsers)
                columns5['AppOpens'].append(appOpens)
                columns5['States'].append(state)
                columns5['Years'].append(year)
                columns5['Quarter'].append(int(file.strip('.json')))

In [ ]:
map_user = pd.DataFrame(columns5)
map_user

In [12]:
# map_insurance.py
# here we are reading all the data from the map_insurance directory

path6 = 'D:/Guvi Projects/Phonepay/pulse/data/map/insurance/hover/country/india/state/'
map_insurance_list = os.listdir(path6)

columns6={'States':[],'Years':[],'Quarter':[],'Districts':[],'Insurance_count':[],'TotalIns_amount':[]}

for state in map_insurance_list:
    curr_states = path6 + state + '/'
    map_years_list = os.listdir(curr_states)

    for year in map_years_list:
        curr_year = curr_states + year + '/'
        map_files_list = os.listdir(curr_year)

        for file in map_files_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')

            F=json.load(data)

            for i in F['data']['hoverDataList']:
                district=i['name']
                count=i['metric'][0]['count']
                amount=i['metric'][0]['amount']
                columns6['Districts'].append(district)
                columns6['Insurance_count'].append(count)
                columns6['TotalIns_amount'].append(amount)
                columns6['States'].append(state)
                columns6['Years'].append(year)
                columns6['Quarter'].append(int(file.strip('.json')))

In [ ]:
map_insurance = pd.DataFrame(columns6)
map_insurance

In [14]:
# top_transaction.py
# here we are reading all the data from the top_transaction directory

path7 = 'D:/Guvi Projects/Phonepay/pulse/data/top/transaction/country/india/state/'
top_transaction_list = os.listdir(path7)

columns7 = {'States':[],'Years':[],'Quarter':[],'Pincodes':[],'Transaction_count':[],'Transaction_amount':[]}

for state in top_transaction_list:
    curr_states = path7 + state + '/'
    top_years_list = os.listdir(curr_states)

    for year in top_years_list:
        curr_year = curr_states + year + '/'
        top_files_list = os.listdir(curr_year)

        for file in top_files_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')

            F=json.load(data)

            for i in F['data']['pincodes']:
                pincode=i['entityName']
                count=i['metric']['count']
                amount=i['metric']['amount']
                columns7['Pincodes'].append(pincode)
                columns7['Transaction_count'].append(count)
                columns7['Transaction_amount'].append(amount)
                columns7['States'].append(state)
                columns7['Years'].append(year)
                columns7['Quarter'].append(int(file.strip('.json')))

In [ ]:
top_transaction = pd.DataFrame(columns7)
top_transaction

In [16]:
# top_user.py
# here we are reading all the data from the top_user directory

path8 = 'D:/Guvi Projects/Phonepay/pulse/data/top/user/country/india/state/'
top_user_list = os.listdir(path8)

columns8 = {'States':[],'Years':[],'Quarter':[],'Pincodes':[],'RegisteredUsers':[]}

for state in top_user_list:
    curr_states = path8 + state + '/'
    top_years_list = os.listdir(curr_states)

    for year in top_years_list:
        curr_year = curr_states + year + '/'
        top_files_list = os.listdir(curr_year)

        for file in top_files_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')

            G=json.load(data)

            for i in G['data']['pincodes']:
                entityName=i['name']
                registeredUsers=i['registeredUsers']
                columns8['Pincodes'].append(entityName)
                columns8['RegisteredUsers'].append(registeredUsers)
                columns8['States'].append(state)
                columns8['Years'].append(year)
                columns8['Quarter'].append(int(file.strip('.json')))

In [ ]:
top_user = pd.DataFrame(columns8)
top_user

In [18]:
# top_insurance.py
# here we are reading all the data from the top_insurance directory

path9 = 'D:/Guvi Projects/Phonepay/pulse/data/top/insurance/country/india/state/'
top_insurance_list = os.listdir(path9)

columns9 = {'States':[],'Years':[],'Quarter':[],'Pincodes':[],'Insurance_count':[],'TotalIns_amount':[]}

for state in top_insurance_list:
    curr_states = path9 + state + '/'
    top_years_list = os.listdir(curr_states)

    for year in top_years_list:
        curr_year = curr_states + year + '/'
        top_files_list = os.listdir(curr_year)

        for file in top_files_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')

            H=json.load(data)

            for i in H['data']['pincodes']:
                entityName=i['entityName']
                count=i['metric']['count']
                amount=i['metric']['amount']
                columns9['Pincodes'].append(entityName)
                columns9['Insurance_count'].append(count)
                columns9['TotalIns_amount'].append(amount)
                columns9['States'].append(state)
                columns9['Years'].append(year)
                columns9['Quarter'].append(int(file.strip('.json')))

In [ ]:
top_insurance = pd.DataFrame(columns9)
top_insurance

### Data Cleaning

In [ ]:
# aggre_transaction
# aggre_user
# aggre_insurance
# map_transaction
# map_user
# map_insurance
# top_transaction
# top_user
# top_insurance

In [20]:

# Data Cleaning and handling the inconsistent data like andaman-&-nicobar-islands to Andaman & Nicobar and replacing - with space

# aggre_transaction transformation

aggre_transaction['States'] = aggre_transaction['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_transaction['States'] = aggre_transaction['States'].str.replace("-"," ")
aggre_transaction['States'] = aggre_transaction['States'].str.title()
aggre_transaction['States'] = aggre_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")


# aggre_user transformation
aggre_user['States'] = aggre_user['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_user['States'] = aggre_user['States'].str.replace("-"," ")
aggre_user['States'] = aggre_user['States'].str.title()
aggre_user['States'] = aggre_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# aggre_insurance transformation
aggre_insurance['States'] = aggre_insurance['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_insurance['States'] = aggre_insurance['States'].str.replace("-"," ")
aggre_insurance['States'] = aggre_insurance['States'].str.title()
aggre_insurance['States'] = aggre_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")  

# map_transaction transformation
map_transaction['States'] = map_transaction['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_transaction['States'] = map_transaction['States'].str.replace("-"," ")
map_transaction['States'] = map_transaction['States'].str.title()
map_transaction['States'] = map_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# map_user transformation
map_user['States'] = map_user['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user['States'] = map_user['States'].str.replace("-"," ")
map_user['States'] = map_user['States'].str.title()
map_user['States'] = map_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# map_insurance transformation
map_insurance['States'] = map_insurance['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_insurance['States'] = map_insurance['States'].str.replace("-"," ")
map_insurance['States'] = map_insurance['States'].str.title()
map_insurance['States'] = map_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# top_transaction transformation
top_transaction['States'] = top_transaction['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction['States'] = top_transaction['States'].str.replace("-"," ")
top_transaction['States'] = top_transaction['States'].str.title()
top_transaction['States'] = top_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# top_user transformation
top_user['States'] = top_user['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user['States'] = top_user['States'].str.replace("-"," ")
top_user['States'] = top_user['States'].str.title()
top_user['States'] = top_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

# top_insurance transformation
top_insurance['States'] = top_insurance['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_insurance['States'] = top_insurance['States'].str.replace("-"," ")
top_insurance['States'] = top_insurance['States'].str.title()
top_insurance['States'] = top_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [31]:
top_user

                 States Years  Quarter Pincodes  RegisteredUsers
0     Andaman & Nicobar  2018        1   744103             1608
1     Andaman & Nicobar  2018        1   744101             1108
2     Andaman & Nicobar  2018        1   744105             1075
3     Andaman & Nicobar  2018        1   744102             1006
4     Andaman & Nicobar  2018        1   744104              272
...                 ...   ...      ...      ...              ...
9995        West Bengal  2024        4   733134           169596
9996        West Bengal  2024        4   700059           169448
9997        West Bengal  2024        4   711302           146034
9998        West Bengal  2024        4   700150           142151
9999        West Bengal  2024        4   711106           142077

[10000 rows x 5 columns]

## MySQL Connectivity

In [30]:
conn = mysql.connect(
    host='127.0.0.1',
    user='root',
    password='root',
    database='phonepay'
)

cursor = conn.cursor()
cursor.execute("select database();")
print(cursor.fetchone()) # as it the 1st line of the result from mysql

# aggre_insurance table creation in mysql
create_table_agg_insurance = '''create table if not exists aggregated_insurance (States varchar(300),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Name varchar(300),
                                                                    Insurance_count bigint,
                                                                    TotalIns_amount bigint);'''
cursor.execute(create_table_agg_insurance)
conn.commit()
print("Aggregated Insurance table created successfully in MySQL")

insert_agg_insurance = '''insert into aggregated_insurance (States, Years, Quarter, Name, Insurance_count, TotalIns_amount)
                          values (%s, %s, %s, %s, %s, %s)'''

data = aggre_insurance.values.tolist()
cursor.executemany(insert_agg_insurance,data)
conn.commit()
print(cursor.rowcount, "Records inserted successfully into aggregated_insurance table")

# aggre_transaction table creation in mysql
create_table_agg_transaction = '''create table if not exists aggregated_transaction (States varchar(300),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Transaction_type varchar(300),
                                                                    Transaction_count bigint,
                                                                    Transaction_amount bigint);'''
cursor.execute(create_table_agg_transaction)
conn.commit()
print("Aggregated Transaction table created successfully in MySQL")

insert_agg_transaction = '''insert into aggregated_transaction (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                          values (%s, %s, %s, %s, %s, %s)'''

data = aggre_transaction.values.tolist() 
cursor.executemany(insert_agg_transaction,data) 
conn.commit()
print(cursor.rowcount, "Records inserted successfully into aggregated_transaction table")

# aggre_user table creation in mysql
create_table_agg_user = '''create table if not exists aggregated_user (States varchar(300),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Brands varchar(300),
                                                                    Transaction_count bigint,
                                                                    Percentage float);'''

cursor.execute(create_table_agg_user)
conn.commit()
print("Aggregated User table created successfully in MySQL")

insert_agg_user = '''insert into aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage)
                          values (%s, %s, %s, %s, %s, %s)'''
data = aggre_user.values.tolist()
cursor.executemany(insert_agg_user,data)
conn.commit()
print(cursor.rowcount, "Records inserted successfully into aggregated_user table")

# map_insurance table creation in mysql
create_table_map_insurance = '''create table if not exists map_insurance (States varchar(300),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Districts varchar(300),
                                                                    Insurance_count bigint,
                                                                    TotalIns_amount bigint);'''

cursor.execute(create_table_map_insurance)
conn.commit()
print("Map Insurance table created successfully in MySQL")

insert_map_insurance = '''insert into map_insurance (States, Years, Quarter, Districts, Insurance_count, TotalIns_amount)
                          values (%s, %s, %s, %s, %s, %s)'''

data = map_insurance.values.tolist()
cursor.executemany(insert_map_insurance,data)
conn.commit()
print(cursor.rowcount, "Records inserted successfully into map_insurance table")


# map_transaction table creation in mysql
create_table_map_transaction = '''create table if not exists map_transaction (States varchar(300),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Districts varchar(300),
                                                                    Transaction_count bigint,
                                                                    Transaction_amount bigint);'''      
cursor.execute(create_table_map_transaction)
conn.commit()
print("Map Transaction table created successfully in MySQL")

insert_map_transaction = '''insert into map_transaction (States, Years, Quarter, Districts, Transaction_count, Transaction_amount)
                            values (%s, %s, %s, %s, %s, %s)'''  

data = map_transaction.values.tolist()
cursor.executemany(insert_map_transaction,data)
conn.commit()
print(cursor.rowcount, "Records inserted successfully into map_transaction table")

# map_user table creation in mysql
create_table_map_user = '''create table if not exists map_user (States varchar(300),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Districts varchar(300),
                                                                    RegisteredUsers bigint,
                                                                    AppOpens bigint);'''
cursor.execute(create_table_map_user)
conn.commit()
print("Map User table created successfully in MySQL")

insert_map_user = '''insert into map_user (States, Years, Quarter, Districts, RegisteredUsers, AppOpens)
                        values (%s, %s, %s, %s, %s, %s)'''

data = map_user.values.tolist()
cursor.executemany(insert_map_user,data)
conn.commit()
print(cursor.rowcount, "Records inserted successfully into map_user table")

# top_insurance table creation in mysql

create_table_top_insurance = '''create table if not exists top_insurance (States varchar(300),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Pincodes int,
                                                                    Insurance_count bigint,
                                                                    TotalIns_amount bigint);'''
cursor.execute(create_table_top_insurance)
conn.commit()
print("Top Insurance table created successfully in MySQL")

insert_top_insurance = '''insert into top_insurance (States, Years, Quarter, Pincodes, Insurance_count, TotalIns_amount)
                          values (%s, %s, %s, %s, %s, %s)'''

data = top_insurance.values.tolist()
cursor.executemany(insert_top_insurance,data)
conn.commit()
print(cursor.rowcount, "Records inserted successfully into top_insurance table")    

# top_transaction table creation in mysql
create_table_top_transaction = '''create table if not exists top_transaction (States varchar(300),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Pincodes int,
                                                                    Transaction_count bigint,
                                                                    Transaction_amount bigint);'''
cursor.execute(create_table_top_transaction)
conn.commit()
print("Top Transaction table created successfully in MySQL")

insert_top_transaction = '''insert into top_transaction (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                            values (%s, %s, %s, %s, %s, %s)'''

data = top_transaction.values.tolist()
cursor.executemany(insert_top_transaction,data)
conn.commit()
print(cursor.rowcount, "Records inserted successfully into top_transaction table")  

# top_user table creation in mysql
create_table_top_user = '''create table if not exists top_user (States varchar(300),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Pincodes int,
                                                                    RegisteredUsers bigint);'''
cursor.execute(create_table_top_user)
conn.commit()
print("Top User table created successfully in MySQL")

insert_top_user = '''insert into top_user (States, Years, Quarter, Pincodes, RegisteredUsers)
                     values (%s, %s, %s, %s, %s)'''

data = top_user.values.tolist()
cursor.executemany(insert_top_user,data)
conn.commit()
print(cursor.rowcount, "Records inserted successfully into top_user table")

('phonepay',)
Aggregated Insurance table created successfully in MySQL
682 Records inserted successfully into aggregated_insurance table
Aggregated Transaction table created successfully in MySQL
5034 Records inserted successfully into aggregated_transaction table
Aggregated User table created successfully in MySQL
6732 Records inserted successfully into aggregated_user table
Map Insurance table created successfully in MySQL
13876 Records inserted successfully into map_insurance table
Map Transaction table created successfully in MySQL
20604 Records inserted successfully into map_transaction table
Map User table created successfully in MySQL
20608 Records inserted successfully into map_user table
Top Insurance table created successfully in MySQL
6668 Records inserted successfully into top_insurance table
Top Transaction table created successfully in MySQL
9999 Records inserted successfully into top_transaction table
Top User table created successfully in MySQL
10000 Records inserted successfully into top_user table