In [ ]:
# %pip install plotly

import pandas as pd
import pymysql as mysql
import plotly.express as px
import requests
import json

In [ ]:
##
#  i changed from Insurance_count to Transaction_count and Insurance_amount to Transaction_amount in all 
# places of the Insurance table code in data frame alone
##

In [ ]:
conn = mysql.connect(
    host='127.0.0.1',
    user='root',
    password='root',
    database='phonepay'
)
cursor = conn.cursor()

# Aggegrated Insurance table data fetching

cursor.execute("select * from aggregated_insurance")
conn.commit()
table1=cursor.fetchall()

Aggre_insurance = pd.DataFrame(table1,columns=['States','Years','Quarter',
                                               'Name','Transaction_count','Transaction_amount'])

# Aggregated Transaction table data fetching
cursor.execute("select * from aggregated_transaction")
conn.commit()
table2=cursor.fetchall()

Aggre_transaction = pd.DataFrame(table2,columns=['States','Years','Quarter',
                                                 'Transaction_type','Transaction_count','Transaction_amount'])

# Aggregated User table data fetching
cursor.execute("select * from aggregated_user")
conn.commit()
table3=cursor.fetchall()

Aggre_user = pd.DataFrame(table3,columns=['States','Years','Quarter','Brand',
                                          'Transaction_count','Percentage'])

# Map Insurance table data fetching
cursor.execute("select * from map_insurance")
conn.commit()
table4=cursor.fetchall()

Map_insurance = pd.DataFrame(table4,columns=['States','Years','Quarter',
                                             'Districts','Transaction_count','Transaction_amount'])

# Map Transaction table data fetching
cursor.execute("select * from map_transaction")
conn.commit()
table5=cursor.fetchall()

Map_transaction = pd.DataFrame(table5,columns=['States','Years','Quarter',
                                               'Districts','Transaction_count','Transaction_amount'])

# Map User table data fetching
cursor.execute("select * from map_user")
conn.commit()
table6=cursor.fetchall()

Map_user = pd.DataFrame(table6,columns=['States','Years','Quarter',
                                        'Districts','RegisteredUsers','AppOpens'])

# Top Insurance table data fetching
cursor.execute("select * from top_insurance")
conn.commit()
table7=cursor.fetchall()

Top_insurance = pd.DataFrame(table7,columns=['States','Years','Quarter',
                                             'Pincodes','Transaction_count','Transaction_amount'])

# Top Transaction table data fetching
cursor.execute("select * from top_transaction")
conn.commit()
table8=cursor.fetchall()

Top_transaction = pd.DataFrame(table8,columns=['States','Years','Quarter',
                                               'Pincodes','Transaction_count','Transaction_amount'])

# Top User table data fetching
cursor.execute("select * from top_user")
conn.commit()
table9=cursor.fetchall()

Top_user = pd.DataFrame(table9,columns=['States','Years','Quarter',
                                        'Pincodes','RegisteredUsers'])

In [ ]:
def Transaction_amount_count_Y(df,year):
    tacy = df[df['Years']==year] 
    tacy.reset_index(drop=True,inplace=True)

    tacyg = tacy.groupby('States')[['Transaction_count','Transaction_amount']].sum()
    tacyg.reset_index(inplace=True)

    fig_amount = px.bar(tacyg,x='States',y='Transaction_amount',title=f'{year} Transaction Amount',
                        color_discrete_sequence=px.colors.sequential.Viridis)
    fig_amount.show()

    fig_count = px.bar(tacyg,x='States',y='Transaction_count',title=f'{year} Transaction Count',
                        color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response = requests.get(url)
    states_name=[]
    data1=json.loads(response.content)

    for feature in data1['features']:
        states_name.append(feature['properties']['ST_NM'])

    states_name.sort()

    fig_india_amount = px.choropleth(tacyg,geojson=data1,locations='States',color='Transaction_amount',
                                     featureidkey='properties.ST_NM',title=f'{year} Transaction Amount by State',
                                     range_color=(tacyg['Transaction_amount'].min(),tacyg['Transaction_amount'].max()),
                                     color_continuous_scale='Viridis',fitbounds='locations',projection='mercator')
    
    fig_india_amount.update_geos(visible=False)
    fig_india_amount.update_layout(dragmode=False)
    fig_india_amount.show()

    fig_india_count = px.choropleth(tacyg,geojson=data1,locations='States',color='Transaction_count',
                                     featureidkey='properties.ST_NM',title=f'{year} Transaction Count by State',
                                     range_color=(tacyg['Transaction_count'].min(),tacyg['Transaction_count'].max()),
                                     color_continuous_scale='Bluered_r',fitbounds='locations',projection='mercator')

    fig_india_count.update_geos(visible=False)
    fig_india_amount.update_layout(dragmode=False)
    fig_india_count.show()

    return tacy

In [ ]:
Transaction_amount_count_Y(Aggre_insurance,2020)

In [ ]:
# Quarterly Analysis for Insurance and Transaction by Quarter
def Transaction_amount_count_Y_Q(df,quarter):
    tacy = df[df['Quarter']==quarter] 
    tacy.reset_index(drop=True,inplace=True)

    tacyg = tacy.groupby('States')[['Transaction_count','Transaction_amount']].sum()
    tacyg.reset_index(inplace=True)

    fig_amount = px.bar(tacyg,x='States',y='Transaction_amount',title=f'{tacy['Years'].unique()} Years {quarter} Quarter Transaction Amount',
                        color_discrete_sequence=px.colors.sequential.Viridis)
    fig_amount.show()

    fig_count = px.bar(tacyg,x='States',y='Transaction_count',title=f'{tacy['Years'].unique()} Years {quarter} Quarter Transaction Count',
                        color_discrete_sequence=px.colors.sequential.Bluered_r)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response = requests.get(url)
    states_name=[]
    data1=json.loads(response.content)

    for feature in data1['features']:
        states_name.append(feature['properties']['ST_NM'])

    states_name.sort()

    fig_india_amount = px.choropleth(tacyg,geojson=data1,locations='States',color='Transaction_amount',
                                     featureidkey='properties.ST_NM',title=f'{tacy['Years'].unique()} Years {quarter} Quarter Transaction Amount by State',
                                     range_color=(tacyg['Transaction_amount'].min(),tacyg['Transaction_amount'].max()),
                                     color_continuous_scale='Viridis',fitbounds='locations',projection='mercator')
    
    fig_india_amount.update_geos(visible=False)
    fig_india_amount.update_layout(dragmode=False)
    fig_india_amount.show()

    fig_india_count = px.choropleth(tacyg,geojson=data1,locations='States',color='Transaction_count',
                                     featureidkey='properties.ST_NM',title=f'{tacy['Years'].unique()} Years {quarter} Quarter Transaction Count by State',
                                     range_color=(tacyg['Transaction_count'].min(),tacyg['Transaction_count'].max()),
                                     color_continuous_scale='Rainbow',fitbounds='locations',projection='mercator')

    fig_india_count.update_geos(visible=False)
    fig_india_count.update_layout(dragmode=False)
    fig_india_count.show()

    return tacy

In [ ]:
# Analysis of Transaction_count and Transaction_amount by Transaction_type for a State

def Aggre_Transaction_Type(df,state):

    tacy = df[df['States']== state]
    tacy.reset_index(drop=True,inplace=True)
    tacy

    tacyg = tacy.groupby('Transaction_type')[['Transaction_count','Transaction_amount']].sum()
    tacyg.reset_index(inplace=True)

    fig_pie_1 = px.pie(data_frame=tacyg,names='Transaction_type',values='Transaction_amount',
                    width=600,title=f"Transaction Amount for {state}",hole=0.5)

    fig_pie_1.show()

    fig_pie_2 = px.pie(data_frame=tacyg,names='Transaction_type',values='Transaction_count',
                    width=600,title=f"Transaction Count for {state}",hole=0.5)

    fig_pie_2.show()

## Aggregated_insurance

In [ ]:
tac_y = Transaction_amount_count_Y(Aggre_insurance,2022)

In [ ]:
Transaction_amount_count_Y_Q(tac_y,3)

## Aggregated_transaction

In [ ]:
Aggre_trans_tac_y = Transaction_amount_count_Y(Aggre_transaction,2023)

In [ ]:
Aggre_Transaction_Type(Aggre_trans_tac_y,'Tamil Nadu')

## Aggregated_User

In [ ]:
Aggre_user

In [ ]:
# Aggregated User table data fetching by year
# aguy -> Aggregated User Year

def Aggre_user_brand_y(df,year):
    aguy=df[df['Years']==year]
    aguy.reset_index(drop=True,inplace=True)

    aguyg =pd.DataFrame(aguy.groupby('Brand')['Transaction_count'].sum())
    aguyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(aguyg,x='Brand',y='Transaction_count',title=f'{year} Transaction Count by Brand',
                    color_discrete_sequence=px.colors.sequential.haline_r)
    fig_bar_1.show()

    return aguy

In [ ]:
Aggre_user_y=Aggre_user_brand_y(Aggre_user,2021)

In [ ]:
Aggre_user_y

In [ ]:
# Aggregated User table data fetching by Quarter
# aguyq -> Aggregated User Year Quarter
def Aggre_user_brand_Y_Q(df,Quarter):
    
    aguyq =df[df['Quarter']==Quarter]
    aguyq.reset_index(drop=True,inplace=True)

    aguyqg =pd.DataFrame(aguyq.groupby('Brand')['Transaction_count'].sum())
    aguyqg.reset_index(inplace=True)

    fig_bar_1 = px.bar(aguyqg,x='Brand',y='Transaction_count',title=f'{Quarter} Quarter Transaction Count by Brand',
                    color_discrete_sequence=px.colors.sequential.haline_r)
    fig_bar_1.show()

    return aguyq

In [ ]:
Aggre_user_y_q = Aggre_user_brand_Y_Q(Aggre_user_y,2)

In [ ]:
Aggre_user_y_q
# Aggre_user_y_q.groupby('States')[['Transaction_count','Percentage']].sum()

In [ ]:
# Aggregated User table data fetching by State for the selected Year and Quarter
# aguyqs -> Aggregated User Year Quarter State

def Aggre_user_brand_y_q_state(df,state):

    aguyqs = df[df['States']==state]
    aguyqs.reset_index(drop=True,inplace=True)

    fig_line_1 = px.line(aguyqs,x='Brand',y='Transaction_count',title=f'{state} State Transaction Count by Brand',hover_data='Percentage',
                         color_discrete_sequence=px.colors.sequential.Plasma,markers=True)

    fig_line_1.show()

    return aguyqs

In [ ]:
Aggre_user_brand_y_q_state(Aggre_user_y_q,'Tamil Nadu')

## MAP Data Analysis

In [ ]:
Map_insurance

### map_insurance

In [ ]:
Map_insurance_amt_count= Transaction_amount_count_Y(Map_insurance,2021)
Map_insurance_amt_count

In [ ]:
# Analysis of Transaction_count and Transaction_amount by district for a State for Map Insurance table

def Map_insurance_district(df,state):

    tacy = df[df['States']== state]
    tacy.reset_index(drop=True,inplace=True)
    tacy

    tacyg = tacy.groupby('Districts')[['Transaction_count','Transaction_amount']].sum()
    tacyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(data_frame=tacyg,x='Transaction_amount',y='Districts',
                    width=600,title=f"Transaction Amount for {state}",color_discrete_sequence=px.colors.sequential.Mint_r)

    fig_bar_1.show()

    fig_bar_2 = px.bar(data_frame=tacyg,x='Transaction_count',y='Districts',
                    width=600,title=f"Transaction Count for {state}",color_discrete_sequence=px.colors.sequential.Mint_r)


    fig_bar_2.show()

In [ ]:
# Map_insurance_district for a State

Map_insurance_district(Map_insurance_amt_count,'West Bengal')

In [ ]:
Map_insurance_amt_count_Y_Q = Transaction_amount_count_Y_Q(Map_insurance_amt_count,2)

In [ ]:
Map_insurance_amt_count_Y_Q

## Map_transaction

In [ ]:
Map_transaction

In [ ]:
Map_transaction_amt_count_Y = Transaction_amount_count_Y(Map_transaction,2020)
Map_transaction_amt_count_Y

In [ ]:
Map_transaction_amt_count_Y

In [ ]:
Map_insurance_district(Map_transaction_amt_count_Y,'West Bengal')

In [ ]:
Map_transaction_amt_count_Y_Q = Transaction_amount_count_Y_Q(Map_transaction_amt_count_Y,2)
Map_transaction_amt_count_Y_Q

In [ ]:
Map_insurance_district(Map_transaction_amt_count_Y_Q,'West Bengal')

### Map_User

In [ ]:
Map_user

In [ ]:
def Map_User_State_plot(df,year):
    muy=df[df['Years']==year]
    muy.reset_index(drop=True,inplace=True)

    muyg=muy.groupby('States')[['RegisteredUsers','AppOpens']].sum()
    muyg.reset_index(inplace=True)

    fig_line_1 = px.line(muyg,x='States',y=['RegisteredUsers','AppOpens'],title=f'{year} Registered Users and App Opens by States',markers=True,)

    fig_line_1.show()
    return muy

In [ ]:
map_year = Map_User_State_plot(Map_user,2020)
map_year['Quarter'].unique()

In [ ]:
# Map_user table data fetching by quarter for RegisteredUsers and AppOpens for the above selected year
def Map_User_State_plot_Y_Q(df,quarter):
    muyq=df[df['Quarter']==quarter]
    muyq.reset_index(drop=True,inplace=True)

    muyqg=muyq.groupby('States')[['RegisteredUsers','AppOpens']].sum()
    muyqg.reset_index(inplace=True)

    fig_line_1 = px.line(muyqg,x='States',y=['RegisteredUsers','AppOpens'],title=f'{quarter} Quarter Registered Users and App Opens by States',markers=True,)

    fig_line_1.show()
    return muyq

In [ ]:
Map_state =Map_User_State_plot_Y_Q(Map_user,2)
Map_state

In [ ]:
# Analysis of state wise for the above selected quarter and year in map_user table
def Map_User_state_plot_Q(df,state):
    muyqs =df[df['States']==state]
    muyqs.reset_index(drop=True,inplace=True)

    fig_map_user_bar_1 = px.bar(muyqs,x='RegisteredUsers',y='Districts',orientation='h',title=f'{state} Registered Users by Districts for {muyqs["Years"].unique()} Years {muyqs["Quarter"].unique()} Quarter',
                                color_discrete_sequence=px.colors.sequential.Plasma_r)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2 = px.bar(muyqs,x='AppOpens',y='Districts',orientation='h',title=f'{state} App Opens by Districts for {muyqs["Years"].unique()} Years {muyqs["Quarter"].unique()} Quarter',
                                color_discrete_sequence=px.colors.sequential.Plasma_r)
    fig_map_user_bar_2.show()   
    return muyqs

In [ ]:
Map_User_state_plot_Q(Map_state,'Tamil Nadu')

### Top Data Analysis

In [ ]:
Top_insurance

In [ ]:
Top_insurance_amt_count_Y = Transaction_amount_count_Y(Top_insurance,2021)

In [ ]:
# top insurance quarter wise analysis from above selected year
# title=f'{tiyq["Years"].unique()} Years {quarter} Quarter Transaction Amount by Pincode',

def Top_insurance_amt_count_Y_Q(df,state):
    tiyq=df[df['States']==state]
    tiyq.reset_index(drop=True,inplace=True)

    fig_amount = px.bar(tiyq,x='Quarter',y='Transaction_amount',title="Pincodes analysis",
                        color_discrete_sequence=px.colors.sequential.Viridis)

    fig_amount.show()

    # fig_count = px.bar(tiyqg,x='Transaction_count',y='Pincodes',title=f'{tiyq["Years"].unique()} Years {quarter} Quarter Transaction Count by Pincode',
    #                     color_discrete_sequence=px.colors.sequential.Bluered_r)
    # fig_count.show()

In [ ]:
Top_insurance_amt_count_Y_Q(Top_insurance_amt_count_Y,'West Bengal')

### Top_Transaction Analysis

In [ ]:
Top_transaction

In [ ]:
Top_user

In [ ]:
# Top_user table data fetching by year
# tuy -> Top User Year
# tuyg_s_q -> Top User Year Groupby States and Quarter
def Top_User_analysis_Y(df,year):
    tuy=df[df['Years']==year]
    tuy.reset_index(drop=True,inplace=True)

    tuyg_s_q=pd.DataFrame(tuy.groupby(['States','Quarter'])['RegisteredUsers'].sum())
    tuyg_s_q.reset_index(inplace=True)

    fig_top_plot_1=px.bar(tuyg_s_q,x='States',y='RegisteredUsers',color='Quarter',
                          title=f'{year} Registered Users by States and Quarter',color_discrete_sequence=px.colors.sequential.Plasma,
                          hover_name='States')
    
    fig_top_plot_1.show()

In [ ]:
Top_User_analysis_Y(Top_user,2021)

In [ ]:
def Top_user_state_plot_Y(df,year):
    tuys=df[df['Years']==year]
    tuys.reset_index(drop=True,inplace=True)

    fig_top_plot_1=px.bar(tuys,x='Quarter',y='RegisteredUsers',color='Quarter',width=1000,height=600,
                            title=f'{year} Registered Users by States and Quarter',color_discrete_sequence=px.colors.sequential.Burgyl,
                            hover_data='Pincodes')
    
    fig_top_plot_1.show()

    return tuys

# Business Case Analysis

In [ ]:
# cursor.execute("select * from aggregated_insurance")
# conn.commit()
# table1=cursor.fetchall()
# table1

# Problem 1
cursor.execute("""select States,sum(Transaction_count) as Total_Transaction_count,
               from aggregated_transaction
               group by States
               order by Total_Transaction_count desc""")
conn.commit()
query1 = cursor.fetchall()